<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="Console1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.bingoohuang.logback.more.layout.MaskPatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - Console1: %m%n</pattern>
                <patterns>(\d{6})\d{6}(\d{3,5}[xX]?) (\d)\d{3}(\d)</patterns>
                <masks>$1++++++$2 $1***$2</masks>
            </layout>
        </encoder>
    </appender>
    <appender name="Console2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - Console2: %replace(%m){'(\d{6})\d{6}(\d{3,5}[xX]?)', '$1++++++$2'}%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console1"/>
        <appender-ref ref="Console2"/>
    </root>

</configuration>

