<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="SIFT" class="com.github.bingoohuang.logback.more.appenders.MultiKeysSiftingAppender">
        <discriminator class="com.github.bingoohuang.logback.more.appenders.MultiKeysMDCBasedDiscriminator">
            <key>userId,userType</key>
            <defaultValue>silent</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${userType}-${userId}" class="ch.qos.logback.core.FileAppender">
                <file>log-${userType}-${userId}.log</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %m%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="SIFT"/>
    </root>
</configuration>

